body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    margin-top: 2vh;
    text-align: center;
    height: 340px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.container-small {
    height: 100%;
}

.container-clock {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.container div {
    margin: 6px 0;
}

#current-date, #current-date-eur {
    margin: 20px 0;
}

button {
    margin: 16px;
    background-color: lightgray;
    border: 2px solid white;
    padding: 6px 10px;
    border-radius: 4px;
    color: black;
    font-size: 1.2rem;
}

button:nth-of-type(1) {
    background-color: white;
}

button:hover {
    background-color: lightgreen;
}

#reset {
    background-color: white;
}

#reset:hover {
    background-color: lightcoral;
}

#current-date {
    padding: 6px;
}

#countdown {
    font-size: 2rem;
}